.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
    margin: auto;
    height: 50px;
}

.header a {
    margin: auto;
    text-decoration: none;
    color: rgb(233, 231, 231);
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1em;
    transition: 0.2s;
    /* float: right; */
}

.link-holder {
    margin: auto;
}

.header .home-button {
    display: none;
    float: left;
}

.header a:hover {
    color: rgb(69, 175, 207);
}

.header .icon {
    display: none;
    float: right;
    cursor: pointer;
}

.menu-image {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;

}

@media screen and (max-width: 1000px) {
    .link-holder {
        display: none;
    }
    .header {
        display: block;
    }
    .header .icon {
        display: block;
        float: right;
    }
    .header .home-button {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .link-holder.responsive {
        display: block;
        position: relative;
        margin-top: 60px;
    }
    .link-holder.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: rgb(41, 39, 39, 0.8);;
    }
}

.add-bg-color {
    background-color: rgb(41, 39, 39, 0.8);
}

/* .link-holder {
    margin: auto;
} */

.bottom-info {
    display: grid;
    width: 100vw;
    flex-direction: column;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: rgb(41, 39, 39, 1);
    color: rgb(233, 231, 231);
}

.bottom-menu {
    bottom: 0vh;
    display: flex;
    position: relative;
    width: 100%;
    align-content: center;
}