@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

html {
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins','Source Code Pro', 'Segoe UI', sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
    /* color: black; */
    color: rgb(233, 231, 231);
    background-color: rgb(23, 23, 32);
    background-image: url("../images/night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: rgba(255, 255, 255); */
    background-color: rgb(41, 39, 39, 0.75);
    border-radius: 20px;
}

@media screen and (min-width:950px) {
    .content {
        width: 900px;
    }    
}

.smaller-content {
    display: none;
    /* background-color: rgb(0, 8, 24, 0.3); */
}

h3 {
    font-weight: 100;
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 1em;
}
h4 {
    margin-block-start: 0em;
    font-weight: normal;
}
img {
    height: 200px;
    width: 200px;
    box-shadow: 0 0 25px #ffffff,
              0 0 0px #ffffff,
              0 0 0 #ffffff,
              0 0 0px #ffffff;
              border-radius: 100px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px
}

ul {
    list-style: none;
    padding-inline-start: 20px;
}

.contact-links li a {
    text-decoration: none;
    color: rgb(233, 231, 231);
    /* transition: 0.2s; */
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 8, 24, 0.65);
    box-shadow: 0 0 10px rgb(0, 0, 0),
              0 0 0px rgb(0, 0, 0),
              0 0 0 rgb(0, 0, 0),
              0 0 0px rgb(0, 0, 0);
              border-radius: 10px;
}

.contact-links {
    display: flex;
    margin: auto;
    padding-inline-start: 0px;
    margin-top: 25px;
    margin-bottom: 12px;
}

.contact-links li {
    padding-right: 30px;
}

@media screen and (min-width:850px) {
    .main-text {
        margin-left: 10px;
    }
}

.version-1 {
    margin: auto;
    text-align: center;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
}

.version-2 {
    margin: auto;
    text-align: center;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
}


/* ###################################################################### */
.bottom-info {
    display: grid;
    width: 250px;
    flex-direction: column;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    position: relative;
    /* bottom: 40px; */
    background-color: rgb(0, 8, 24, 0.65);
    /* background-color: rgb(41, 39, 39, 0.75); */

    border-radius: 20px;
    /* position: absolute; */
}

.bottom-menu {
    margin-top: 125px;
    padding-bottom: 5px;
    bottom: 20px;
    display: flex;
    /* position: relative; */
    position: absolute;
    width: 100%;
    align-content: center;
}

.v {
    position: relative;
}

@media screen and (max-height:650px) {
    .main-page-menu {
        position: relative;
    }    
}

@media screen and (max-height:450px) {
    .non-main-page-menu {
        position: relative;
    }    
}

.bottom-item {
    width: 4em;
}

.small {
    display: none;
}

@media screen and (max-width:850px) {
    .content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 0.9em;
    }
    .big {
        display: none;
    }
    .small {
        display: inline-block;
    }
    img {
        width: 150px;
        height: 150px;
        min-width: 100px;
        margin: auto;
    }
    ul {
        margin: auto;
        padding-left: 0;
    }
    li {
        text-align: center;
    }
    .contact-links {
        justify-content: center;
    }
    .contact-links li {
        padding-right: 15px;
        padding-left: 15px;
    }
    .main-text {
        margin-top: 20px;
    }
}

@media screen and (max-width:450px) {
    .content {
        font-size: 0.8em;
        resize: none;
    }
    .version-1 {
        font-size: 0.6em;
    }
    .version-2 {
        font-size: 0.6em;
    }
    .contact-links li {
        padding-right: 5px;
        padding-left: 5px;
    }
    h3 {
        font-size: 1.2em;
    }
    .version-info {
        text-align: center;
    }
    #display, .joke {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 375px) {
    * {
        font-size: 95%;
    }
    img {
        width: 125px;
        height: 125px;
        min-width: 100px;
    }
}

.version {
    color: rgb(233, 231, 231);
    text-decoration: none;
}

.title, .button {
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    white-space: normal;
    margin-bottom: 25px;
}

.this-version {
    white-space: normal;
    margin: auto;
    white-space: normal;
    font-size: 0.9em;
}

.button a{
    font-size: 0.8em;
    text-decoration: none;
    margin-top: 0px;
    color: rgb(233, 231, 231);
}

.version-info {
    margin: auto;
    text-align: justify;
    white-space: normal;
    font-size: 0.8em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.versions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px dotted rgb(233, 231, 231);
    padding: 10px;
}

.current-version {
    border-top: 1px dotted rgb(233, 231, 231);
}

.wrapper {
    padding-right: 50px;
    padding-left: 50px;
}

@media screen and (max-width: 650px) {
    .versions {
        display: flex;
        flex-direction: column;
    }
    .this-version {
        padding-top: 20px;
        font-size: 0.75em;
    }
    .version-info {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.65em;
    }
}

.login-text, .login-text-1, .pnf-text {
    font-size: 0.8em;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.login-text-1 {
    margin-top: 10px;
}

.pnf-text {
    font-size: 1.6em;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width:450px) {
    .version-info {
        text-align: left;
    }
}

.page {
    background-color: rgb(0, 8, 24, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin: 20px; */
    border-radius: 20px;
    /* position: absolute; */
}

@media screen and (min-width:600px) {
    .login-page, .page-not-found {
        width: 480px;
        margin: auto;
        border-radius: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }    
}






#display, .joke, .joke-text {
    margin: auto;
    text-align: center;
}

.joke {
    background-color: rgb(23, 23, 32);
    color:rgb(233, 231, 231);
    width: 12em;
    padding: 1em;
    font-size: 90%;
    border-radius: 60px;
    /* margin-top: 40px; */
    align-content: center;
    border-color: white;
    border-style: solid;
    white-space: normal;
}

#display {
    margin-top: 20px;
    background-color: rgb(233, 231, 231);
    color: black;
    width: clamp(200px, 50%, 30em);
    font-size: 1em;
    padding: 1em;
    word-wrap: break-word;
    border-radius: 20px;
    text-align: center;
    white-space: normal;
    display: block;
    max-height: 60vh;
    overflow: auto;
    /* transition: 0.2s; */
    /* transition: 0.3s; */
}

.joke-text {
    margin-top: 18px;
    font-size: 0.7em;
}

.joke-text a, .versions-link {
    color: rgb(100, 230, 223);
    text-decoration: none;
}

.joke:hover {
    width: 10.5em;
}

footer {
    background: #8f8f8f;
    width: 100%;
    bottom: 0px;
    position: absolute;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    height: 56px;
    
  }

.page-container {
    /* animation: fadeInAnimation ease 2.5s; */
    min-height: 100vh;
    position: relative;
}

.page-container-main {
    animation: fadeInAnimation ease 2.5s;
}

.top-space {
    height: 15vh;
}

.top-space-smaller {
    height: 5vh;
}

.summary {
    margin-top: 10px;
}