@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

html {
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'Source Code Pro', 'Segoe UI', sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
    color: black;
    background-color: rgb(233, 231, 231);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h3 {
    font-weight: 100;
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 1em;
}

.image {
    height: auto;
    width: 200px;
    box-shadow: 0 0 25px #ffffff,
        0 0 0px #ffffff,
        0 0 0 #ffffff,
        0 0 0px #ffffff;
    border-radius: 100px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.center-vertical-stack {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

ul {
    list-style: none;
    padding-inline-start: 20px;
}

.version-1 {
    margin: auto;
    text-align: center;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
}

.version-2 {
    margin: auto;
    text-align: center;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
}

.version {
    color: rgb(233, 231, 231);
    text-decoration: none;
}

.title {
    color: rgb(233, 231, 231);
    font-size: 1.35em;
}

.title,
.button {
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    white-space: normal;
    margin-bottom: 25px;
}

.this-version {
    white-space: normal;
    margin: auto;
    white-space: normal;
    font-size: 0.9em;
}

.button a {
    font-size: 0.8em;
    text-decoration: none;
    margin-top: 0px;
    color: rgb(233, 231, 231);
}

.version-info {
    margin: auto;
    text-align: justify;
    white-space: normal;
    font-size: 0.8em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.versions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px dotted rgb(233, 231, 231);
    padding: 10px;
    color: rgb(233, 231, 231);
}

.current-version {
    border-top: 1px dotted rgb(233, 231, 231);
}

.wrapper {
    padding-right: 50px;
    padding-left: 50px;
}

@media screen and (max-width: 650px) {
    .versions {
        display: flex;
        flex-direction: column;
    }

    .this-version {
        padding-top: 20px;
        font-size: 0.75em;
    }

    .version-info {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.65em;
    }
}

.login-text,
.login-text-1,
.pnf-text {
    font-size: 0.8em;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.login-text-1 {
    margin-top: 10px;
}

.pnf-text {
    font-size: 1.6em;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:450px) {
    .version-info {
        text-align: left;
    }
}

.page {
    background-color: rgb(0, 8, 24, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (min-width:600px) {

    .login-page,
    .page-not-found {
        width: 480px;
        margin: auto;
        border-radius: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

footer {
    background: #8f8f8f;
    width: 100%;
    bottom: 0px;
    position: absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    height: 56px;

}

.page-container {
    min-height: 100vh;
    position: relative;
    background-image: url("../images/nyc-background.jpg");
    margin: auto;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

.top-space-smallest {
    height: 5vh;
}

.summary {
    margin-top: 10px;
}

section {
    padding-top: 10vh;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: auto;
}

.card {
    width: 25vw;
    min-width: 350px;
    min-height: 25vh;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 1em;
    padding: 20px;
    white-space: normal;
    display: flex;
    flex-direction: column;
}

.project-card {
    width: 18vw;
    min-width: 200px;
}

@media screen and (max-width:550px) {
    .card {
        min-width: 250px;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-item1 {
    margin-bottom: 20px;
}

.center-image {
    margin: auto;
}

.card-subheader {
    font-size: 0.8em;
    padding-left: 10px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.info-image {
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: none;
    /* margin-bottom: 5px; */
}

.picture-item {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    padding-right: 5px;
}

.interest {
    background-color: rgb(0, 0, 0, 0);
}

.link-button {
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100px;
    transition: 0.2s;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
    margin-bottom: 25px;
}

.link-button:hover {
    color: #0072b1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Work Experience */
.work-experience-item-container {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: left;
    margin-bottom: 40px;
}

.work-experience-item-container-last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.work-experience-title {
    font-size: 1.5em;
    white-space: normal;
}

.work-experience-summary {
    white-space: normal;
}

.work-experience-image {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-right: 20px;
    margin-left: 0px;
}

.gray-bg {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
}

.skills-holder {
    display: flex;
    white-space: normal;
    flex-wrap: wrap;
}

.margin-add1 {
    margin-right: 5px;
    margin-top: 5px;
}

.skills-label {
    font-weight: bold;
}

.project-image {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.project-card-title {
    margin-top: 20px;
    font-size: 1.25em;
}

.project-card-content {
    justify-content: center;
    text-align: center;
}

.project-button {
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
}

.github-link {
    margin: auto;
    background-color: black;
    font-size: 14px;
    color: rgb(233, 231, 231);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    border-radius: 10px;
    margin-top: 15px;
    text-decoration: none;
}

#education {
    background-image: url(../images/uconn-campus.png);
}

.education-container {
    justify-content: left;
    width: 50vw;
    min-width: none;
    background-color: rgb(233, 231, 231);
}

.education-title {
    font-size: 1.5em;
    white-space: normal;
}

.number-holder {
    padding: 10px;
}

.number {
    font-weight: bold;
    font-size: 2em;
}

.number-text {
    white-space: normal;
    max-width: 100px;
}

.contact-card {
    width: 12vw;
    min-width: 150px;
    height: 100px;
    padding: 0;
    background-color: rgb(233, 231, 231);
}

.contact-image {
    background-color: rgb(233, 231, 231);
    height: 80px;
    width: 80px;
    min-height: 60px;
    min-width: 60px;
    border-radius: 20px;
}

.intro-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-name {
    color: rgb(233, 231, 231);
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

.intro-info {
    color: rgb(233, 231, 231);
    text-align: center;
    opacity: 0;
}

.intro-image {
    margin: auto;
    margin-top: 20px;
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    opacity: 0;
}

.typing {
    display: flex;
    margin: auto;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.input-cursor {
    display: inline-block;
    width: 3px;
    height: 50px;
    background-color: rgb(233, 231, 231);
    margin: auto;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

.discord-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    transition: 0.3s;
}

.discord-text-holder {
    text-align: center;
    font-size: 1em;
    display: none;
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;
}

.discord-card-outer {
    transition: 0.3s;
}

.discord-card-outer:hover .discord-text-holder {
    display: flex;
}

.discord-copy-image {
    height: 18px;
    width: 18px;
    padding: 3px;
    margin: auto;
}

.discord-text-holder span {
    font-size: 0.9em;
}

@media screen and (max-width:550px) {
    .work-experience-item-container {
        flex-direction: column;
        justify-content: center;
    }
    .work-experience-image {
        margin: auto;
    }
    .education-title {
        font-size: 1.2em;
    }
    .card {
        max-width: 90vw;
    }
    .intro-content {
        font-size: 2em;
    }
    .intro-name {
        font-size: 2.5em;
    }
    .intro-content {
        font-size: 1em;
    }
}
