.thesis-page {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(233, 231, 231);
}

.thesis-title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.thesis-item-spacing {
    padding-bottom: 20px;
}

.thesis-link {
    text-decoration: none;
    color: rgb(152, 200, 220);
    margin-left: 7px;
}

.thesis-pdf {
    width: 90vw;
    height: 90vh;
}

.thesis-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
